APP_NAME=Promolider
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
FRONTEND_APP_URL=http://localhost:3000

MIX_APP_ENV=local
MIX_APP_URL=http://localhost
MIX_FRONTEND_APP_URL=http://localhost:3000
MIX_APP_STORAGE_DOMAIN=http://localhost/storage

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

DEBUGBAR_ENABLED=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#CONFIGURACIÓN MAILRELAY API
EMAIL_API_KEY=
MAILRELAY_SUBDOMAIN=
EMAIL_API_FROM_EMAIL=
EMAIL_API_FROM_NAME="Promolider"

# Variables de compatibilidad
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Promolider"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=sa-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=127.0.0.1
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1
FORECE_HTTPS=false

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ACQUIRER_ID=
ID_COMMERCE=
PURCHASE_CURRENCY_CODE=
PURCHASE_PASSWORD=

IS_API=TRUE

FILESYSTEM_DRIVER=local
STORAGE_DOMAIN=http://localhost/storage

##Paypal
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

#Mercado Pago
MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=

# ReCAPTCHA
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

##html conversor
ACCESS_CONVERSOR=

##openpay
OPENPAY_ID=
OPENPAY_SK=
OPENPAY_SK_ENCODED=
OPENPAY_SK_DECODED=

# Webhook verification
OPENPAY_WEBHOOK_USER=
OPENPAY_WEBHOOK_PASS=

# n8n API - Basic Auth para webhooks
N8N_WEBHOOK_USER=
N8N_WEBHOOK_PASS=

# Configuración SMTP para PHPMailer
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# Configuración para OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_TIMEOUT=30
OPENAI_MAX_TOKENS=700
